package {{ package_name }}.dto;

{% if entidad.necesita_bigdecimal %}
import java.math.BigDecimal;
{% endif %}
{% if entidad.necesita_localdate %}
import java.time.LocalDate;
{% endif %}
{% if entidad.necesita_localdatetime %}
import java.time.LocalDateTime;
{% endif %}
{% if entidad.necesita_uuid %}
import java.util.UUID;
{% endif %}

public class {{ entidad.nombre_clase }}ResponseDto {

{% for campo in entidad.campos %}
    private {{ campo.tipo_java }} {{ campo.nombre_java }};
{% endfor %}

    public {{ entidad.nombre_clase }}ResponseDto() {
    }

{% for campo in entidad.campos %}
    public {{ campo.tipo_java }} {{ campo.nombre_getter }}() {
        return {{ campo.nombre_java }};
    }

    public void {{ campo.nombre_setter }}({{ campo.tipo_java }} {{ campo.nombre_java }}) {
        this.{{ campo.nombre_java }} = {{ campo.nombre_java }};
    }

{% endfor %}
}
